@import "@/styles/mixins";
@import "@/styles/variables";

.section {
   position: relative;
   width: 100%;

   background: rgba(23, 10, 35, 0.61);
}

.container {

   h2 {
      @include title();
      margin-bottom: 50px;

      text-align: center;
   }

   span {
      color: $secondary-text-color;
      text-decoration: underline;
   }

   ul {
      list-style: inside;
   }
}


.grid {
   position: relative;

   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: 15px;
   grid-row-gap: 10px;

   @include media("tablet") {
      grid-column-gap: 50px;
   }

   h3 {
      @include media("desktop") {
         font-size: 26px;
      }
   }

   p,
   li {
      font-size: 14px;

      @include media("desktop") {
         font-size: 18px;
      }
   }

}

.textLeft {
   text-align: right;
}

.title {
   display: inline-block;
   padding: 5px 10px;
   margin-bottom: 10px;

   background-color: #78777963;

   border-radius: 10px;
   box-shadow: $box-shadow-pathSection;

   @include media("tablet") {
      padding: 5px 20px;
   }
}

.number {
   position: relative;

   h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 90px;

      /* задаем ширину, цвет и стиль обводки текста */
      -webkit-text-stroke: 1px rgba(226, 212, 212, 0.155);

      /* задаем прозрачность текста */
      color: transparent;

      /* наклоны текста */
      // transform: skew(0deg, -10deg);

      @include media("tablet") {
         font-size: 100px;
      }

      @include media("desktop") {
         font-size: 130px;
      }

   }
}




.line {
   position: absolute;
   top: -3%;
   bottom: -3%;
   left: 50%;
   transform: translateX(-50%);
   z-index: -1;

   border: 3px solid $light-bg-color;


   @include media("desktop") {
      border: 4px solid $light-bg-color;
   }

}