@import "@/styles/mixins";
@import "@/styles/variables";

.open {
	@include flex(flex-start, center);
	flex-direction: column;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 4;
	text-align: center;
	transform: translateX(0%);

	background-color: $burger-bg;
	backdrop-filter: blur(50px);
	transition: $transition;
}

.closed {
	@extend .open;
	transform: translateX(-100vw);
}

.section {
	padding: 20px 0;
	position: absolute;
	z-index: 500;
	width: 100vw;
	height: 100vh;
	background-color: black;
}

.main {
	@include flex(space-between, center);
	width: 100%;
	margin-bottom: 50px;
}