@import "@/styles/mixins";
@import "@/styles/variables";

.wrapper {
	@include flex(center, center);
	flex-direction: column;
	gap: 10px;

	@include media(tablet) {
		flex-direction: row;
	}

	@include media(desktop) {
		gap: 20px;
	}

	.contact {
		padding: 4px 10px;

		font-size: 20px;
		color: $primary-text-color;
		box-shadow: $btn-shadow;
		border-radius: 10px;

		transition: $transition;

		@include media(tablet) {
			font-size: 18px;
		}

		@include media(desktop) {
			padding: 7px 14px;
			font-size: 20px;

			&:hover,
			&:focus {
				color: $dark-text-color;
				box-shadow: inset 0 0 0 2em $accent-color;
			}
		}
	}
}