$mobile: 320px;
$tablet: 768px;
$desktopMiddle: 1050px;
$desktop: 1440px;

$accent-color: #77AEDB;
$primary-bg-color: rgb(5, 11, 14);

$sec-bg-color: #640ca380;
$light-bg-color: #e3c9ba;


$primary-text-color: #e3c9ba;
$secondary-text-color: #c9c0b0;
$third-text-color: #f5e8e5;
$dark-text-color: #1c1d25;

$burger-bg: rgba(17, 14, 14, 0.8);

$transition: 0.4s all ease-in-out;

$text-shadow: 0.5px 0.5px 0.5px #4f4f4f;
$secondary-text-shadow: #784f0249;

// $primary-text-color: #FFFFFF;
// $secondary-text-color: #BEA698;
// $third-text-color: #A6E9D7;
$fourth-text-color: #f1f1e1;
$error-text-color: #d5431b;

$hover-color: #00B6B0;


$secondary-bg-color: #344E4D;
$third-bg-color: #FFFFFF;
$fourth-bg-color: #07070769;
$form-bg-color: #E4E0D3