$minimob: 320px;
$mobile: 320px;
$tablet: 768px;
$desktopMiddle: 1050px;
$desktop: 1440px;


$transition: 0.4s all ease-in-out;

$text-shadow: 0.5px 0.5px 0.5px #4f4f4f;
$secondary-text-shadow: #784f0249;

$accent-color: #00B6B0;
$primary-text-color: #FFFFFF;
$secondary-text-color: #BEA698;
$third-text-color: #A6E9D7;
$fourth-text-color: #f1f1e1;
$error-text-color: #d5431b;

$hover-color: #00B6B0;


$primary-bg-color: #070707;
$secondary-bg-color: #344E4D;
$third-bg-color: #FFFFFF;
$fourth-bg-color: #07070769;
$form-bg-color: #E4E0D3