$mobile: 320px;
$tablet: 768px;
$desktopMiddle: 1050px;
$desktop: 1440px;


$accent-color: #9e6dc1;

$primary-bg-color: rgb(5, 11, 14);
$light-bg-color: #D2B48C;
$burger-bg: rgba(17, 14, 14, 0.8);


$primary-text-color: #D2B48C;
$secondary-text-color: #F5F5DC;
$dark-text-color: #1c1d25;
// $third-text-color: #F5F5DC;


$transition: 0.4s all ease-in-out;

$box-shadow: inset 8px 8px 8px 2px rgba(61, 130, 142, 0.2),
   8px 8px 8px 2px rgba(61, 130, 142, 0.2);
$box-shadow-pathSection: rgba(74, 120, 121, 0.35) 0px 5px 15px;
$btn-shadow: rgba(255, 251, 251, 0.35) 0px 5px 15px;