@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary-bg-color;
  color: $primary-text-color;

  font-weight: 400;

  /* Выставляем основные настройки по-умолчанию для body */
  min-height: 100vh;


  text-rendering: optimizeSpeed;
  line-height: 1.5;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}



/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: $primary-text-color;
}


/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  margin: 0;
}



// ИНПУТ Стирание стилей при автозаполнении
:-webkit-autofill {
  transition: all 5000s ease-in-out 0s;
}


.section {
  padding: 50px 0px;

}

.container {
  margin: 0px auto;
  padding: 0px 15px;
  width: 100%;
  max-width: 500px;


  @include media("tablet") {
    padding: 0px 30px;
    max-width: none;
    width: $tablet;

    @include media("desktop") {
      padding: 0px 100px;
      width: $desktop;
    }
  }
}

.card {
  padding: 40px 20px;
  background-color: rgba(7, 7, 7, 0.401);
  border-radius: 5%;
  box-shadow: inset 10px 10px 10px 2px rgba(36, 34, 80, 0.2), 10px 10px 10px 2px rgba(80, 72, 34, 0.2);
}