@import "@/styles/mixins";
@import "@/styles/variables";


.section {
   margin-top: 100px;
}

.container {

   h1 {
      font-size: 45px;

      @include media("tablet") {
         font-size: 65px;
      }

      @include media("desktop") {
         font-size: 80px;
      }
   }
}