@import "@/styles/mixins";
@import "@/styles/variables";


.section {
   display: grid;
   grid-template-columns: 1fr;
   margin-top: 100px;

   background: linear-gradient(47deg, rgba(23, 10, 35, 0.61) 61%, rgba(50, 7, 99, 0.39) 73%, rgba(11, 130, 148, 0.514) 101%, rgba(31, 16, 65, 0) 88%);

   @include media("tablet") {
      grid-template-columns: 3fr 1fr;
   }
}

.container {
   @include flex(center, center);
   flex-direction: column;

   width: 80%;
   padding-top: 10px;
   padding-bottom: 10px;



   h1 {
      margin-bottom: 20px;

      font-size: 35px;
      text-align: center;


      @include media("tablet") {
         font-size: 54px;
      }

      @include media("desktop") {
         font-size: 70px;
      }
   }

   .linkList {
      @include flex(center, center);
      gap: 30px;
      margin-bottom: 20px;


      a {
         padding: 10px 30px;
         border-radius: 10px;
         box-shadow: $btn-shadow;
         transition: $transition;
      }

      a:hover,
      a:focus {
         color: $dark-text-color;
         background-color: $accent-color;

      }
   }

   .description {

      @include media("desktop") {
         font-size: 18px;
      }

   }

   p {
      margin-bottom: 20px;
   }

   span {
      color: $secondary-text-color;
   }

   img {
      @include media("tablet") {
         width: 460px;
         height: 230px;
      }

      @include media("desktop") {
         width: 600px;
         height: 300px;
      }
   }


}

.imgBox {
   display: none;

   @include media("tablet") {
      @include flex(center, center);
   }



   img {

      @include media("tablet") {
         width: 250px;
         height: 500px;
      }

      @include media("desktop") {
         width: 300px;
         height: 600px;
      }
   }
}