@import "@/styles/mixins";
@import "@/styles/variables";

.section {
   position: relative;
   background: linear-gradient(316deg, rgba(23, 10, 35, 0.61) 61%, rgba(50, 7, 99, 0.39) 73%, rgba(11, 130, 148, 0.514) 101%, rgba(31, 16, 65, 0) 88%);

}



.container {
   display: grid;
   grid-template-columns: 1fr;
   justify-items: center;
   gap: 20px;


   @include media("tablet") {
      justify-items: flex-end;
      grid-template-columns: 1fr 1fr;
   }


   @include media("desktop") {
      grid-template-columns: 1fr 1fr;
   }

   h2 {
      @include title();

      text-align: center;

      @include media("tablet") {
         width: auto;
         text-align-last: left;
      }
   }

   div {
      width: 100%;


      @include media("tablet") {
         width: auto;
      }

   }
}

.skillList {
   @include ListStyle();

}

.imgBox {
   display: none;

   @include media("tablet") {
      display: block;
      position: absolute;
      z-index: -1;
      top: 25%;
      left: 2%;
   }

   @include media("desktop") {
      top: 15%;
      left: 7%;
   }

   img {
      width: 100px;
      height: 100px;

      @include media("tablet") {
         width: 250px;
         height: 250px;
      }

      @include media("desktop") {
         width: 300px;
         height: 300px;
      }
   }
}