@import "@/styles/mixins";
@import "@/styles/variables";

.section {
   height: 100vh;
   background: rgb(41, 16, 65);
   // background-image: url('../../../public/img/hero.webp');
   background-image: linear-gradient(31deg, rgb(23 10 35 / 61%) 51%, rgb(50 7 99 / 39%) 59%, rgb(36 25 111 / 66%) 74%, rgb(31 16 65 / 55%) 87%), url('../../../public/img/hero.webp');

   background-repeat: no-repeat;
   background-size: cover;

   @include media("tablet") {
      background-position: bottom;
   }


}

.container {
   margin-top: 50px;
   display: grid;
   grid-template-columns: 1fr;
   animation: leftToRight 1.2s ease-in-out;


   @include media("tablet") {
      grid-template-columns: 2fr 1fr;
   }

   @include media("desktop") {
      grid-template-columns: 1fr 1fr;
   }


}

.infoBox {
   position: relative;
   padding-left: 30px;
   padding-right: 10px;


   h1 {
      font-size: 45px;

      @include media("tablet") {
         font-size: 65px;
      }

      @include media("desktop") {
         font-size: 80px;
      }
   }

   img {
      border-radius: 50%;

      @include media("tablet") {
         width: 130px;
         height: 130px;
      }

      @include media("desktop") {
         width: 150px;
         height: 150px;
      }
   }


   h2 {
      margin-bottom: 10px;

      color: $third-text-color;
      font-size: 20px;

      @include media("tablet") {
         font-size: 26px;
      }

      @include media("desktop") {
         font-size: 30px;
      }

   }

   p {
      font-size: 16px;

      @include media("tablet") {
         font-size: 18px;
      }

      @include media("desktop") {
         font-size: 20px;
      }
   }

   p:not(:last-child) {
      margin-bottom: 10px;
   }

   span {
      color: $third-text-color;
   }
}




.infoBox::after {
   content: "";
   position: absolute;
   display: inline-block;
   background-color: $light-bg-color;
   border-radius: 50%;

   top: 10%;
   left: 0;
   width: 14px;
   height: 14px;



   @include media("tablet") {
      top: 14%;
      left: 0;
      width: 20px;
      height: 20px;
   }

   @include media("desktop") {
      top: 20%;
   }
}


.infoBox::before {
   content: "";
   position: absolute;
   height: 85%;
   width: 2px;
   top: 14%;
   left: 6px;


   background-color: $light-bg-color;

   @include media("tablet") {
      top: 59%;
      left: 10.5px;
      transform: translate(-59%, -50%);
   }

   @include media("desktop") {
      top: 62%;
      left: 10px;
      height: 70%;
   }

}

@keyframes leftToRight {
   0% {
      opacity: 0;
      transform: translateX(-100%);
   }

   75% {
      opacity: 1;
      transform: translateX(5%);
   }

   100% {
      transform: translateX(0);
   }
}