@import "@/styles/mixins";
@import "@/styles/variables";

.section {
   background: rgb(41, 16, 65);
   background-image: linear-gradient(30deg, rgba(23, 10, 35, 0.532) 0%, rgba(50, 7, 99, 0.345) 59%, rgba(36, 25, 111, 0.59) 74%, rgba(31, 16, 65, 0.711) 95%), url('../../../public/img/hero.webp');

   background-repeat: no-repeat;
   background-size: cover;

   @include media("tablet") {
      background-position: right;
   }

}

.container {
   display: grid;
   grid-template-columns: 1fr;

   @include media("tablet") {
      grid-template-columns: 1fr;
   }

   @include media("desktop") {
      grid-template-columns: 1fr 1fr;
   }



   p {
      font-weight: 700;
   }
}