@import "@/styles/mixins";
@import "@/styles/variables";

.header {
   padding-top: 20px;
   padding-bottom: 20px;

   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   z-index: 20;

   border-bottom: 2px solid $accent-color;

   animation: opacityAnimation 1.2s ease-in-out
}

.container {
   @include flex(space-between, center);
}

@keyframes opacityAnimation {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }


}