@import "@/styles/mixins";
@import "@/styles/variables";

.header {
   padding-top: 20px;
   padding-bottom: 20px;

   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);

   border-bottom: 2px solid $accent-color;
   animation: opacityAnimation 1.2s ease-in-out;

   nav {
      @include flex(space-between, center);

      div {
         @include flex();
         gap: 10px;

         @include media(tablet) {
            gap: 30px;
         }

      }
   }
}



.link {
   font-size: 16px;
   color: $primary-text-color;
   transition: $transition;

   @include media(tablet) {
      font-size: 18px;
   }

   @include media(desktop) {
      font-size: 20px;

      &:hover,
      &:focus {
         color: $accent-color;
      }
   }
}

@keyframes opacityAnimation {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }

}