@import "@/styles/mixins";
@import "@/styles/variables";

.footer {
   background: rgba(23, 10, 35, 0.61);
}

.container {
   h2 {
      @include title();

      text-align: center;
   }
}

.contactList {
   @include flex(center, center);
   flex-direction: column;
   gap: 40px;

   @include media("tablet") {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
   }


   a {
      @include flex(center, center);
      transition: $transition;

      font-size: 18px;

      @include media("desktop") {
         font-size: 20px;
      }

      svg {
         margin-right: 5px;
      }
   }

   a:hover,
   a:focus {
      transform: scale(1.05);
      color: $accent-color;
   }
}

.linksBox {
   @include flex(_, center);
   flex-direction: column;
   gap: 10px;

   div {
      @include flex(center, center);
      gap: 10px;
   }
}