@import "@/styles/mixins";
@import "@/styles/variables";

.list {
	@include flex(center, center);
	flex-direction: column;
	gap: 30px;
	margin-bottom: 70px;

	@include media(tablet) {
		flex-direction: row;
		gap: 12px;
		margin-bottom: 0;
	}

	@include media(desktop) {
		gap: 24px;
	}

	.item {
		a {
			font-size: 25px;
			color: $primary-text-color;
			transition: $transition;

			@include media(tablet) {
				font-size: 16px;
			}

			@include media(desktop) {
				font-size: 20px;

				&:hover,
				&:focus {
					color: $accent-color;
				}
			}
		}
	}
}